-i https://pypi.org/simple
attrs==22.1.0; python_version >= '3.5'
aws-cdk-lib==2.47.0; python_version ~= '3.7'
aws-cdk.aws-lambda-python-alpha==2.47.0a0; python_version ~= '3.7'
boto3==1.25.5
botocore==1.27.96; python_version >= '3.7'
cattrs==22.2.0; python_version >= '3.7'
-e ./cdk
cdk-nag==2.19.0; python_version ~= '3.7'
certifi==2022.9.24; python_version >= '3.6'
cfgv==3.3.1; python_full_version >= '3.6.1'
charset-normalizer==2.1.1; python_version >= '3.6'
click==8.1.3; python_version >= '3.7'
colorama==0.4.5; python_version >= '3.5'
constructs==10.1.138; python_version ~= '3.7'
coverage[toml]==6.5.0; python_version >= '3.7'
distlib==0.3.6
exceptiongroup==1.0.0rc9; python_version < '3.11'
filelock==3.8.0; python_version >= '3.7'
flake8==5.0.4
future==0.18.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
ghp-import==2.1.0
gitdb==4.0.9; python_version >= '3.6'
gitpython==3.1.29
identify==2.5.6; python_version >= '3.7'
idna==3.4; python_version >= '3.5'
importlib-metadata==5.0.0; python_version < '3.10'
iniconfig==1.1.1
isort==5.10.1
jinja2==3.1.2; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
jsii==1.70.0; python_version ~= '3.7'
mando==0.6.4
markdown==3.3.7; python_version >= '3.6'
markupsafe==2.1.1; python_version >= '3.7'
mccabe==0.7.0; python_version >= '3.6'
mergedeep==1.3.4; python_version >= '3.6'
mkdocs==1.4.1; python_version >= '3.7'
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-material==8.5.7
mkdocs-material-extensions==1.1; python_version >= '3.7'
nodeenv==1.7.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
packaging==21.3; python_version >= '3.6'
platformdirs==2.5.2; python_version >= '3.7'
pluggy==1.0.0; python_version >= '3.6'
pre-commit==2.20.0
publication==0.0.3
py==1.11.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pycodestyle==2.9.1
pyflakes==2.5.0; python_version >= '3.6'
pygments==2.13.0; python_version >= '3.6'
pymdown-extensions==9.7; python_version >= '3.7'
pyparsing==3.0.9; python_full_version >= '3.6.8'
pytest==7.1.3
pytest-cov==4.0.0
pytest-html==3.1.1
pytest-metadata==2.0.2; python_version >= '3.7' and python_version < '4'
pytest-mock==3.10.0
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==0.21.0
pyyaml==6.0; python_version >= '3.6'
pyyaml-env-tag==0.1; python_version >= '3.6'
radon==5.1.0
requests==2.28.1; python_version >= '3.7' and python_version < '4'
s3transfer==0.6.0; python_version >= '3.7'
-e ./cdk
setuptools==65.5.0; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.0; python_version >= '3.6'
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
tomli==2.0.1; python_version >= '3.7'
typeguard==2.13.3; python_full_version >= '3.5.3'
typing-extensions==4.4.0; python_version >= '3.7'
urllib3==1.26.12; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5' and python_full_version < '4.0.0'
virtualenv==20.16.5; python_version >= '3.6'
watchdog==2.1.9; python_version >= '3.6'
xenon==0.9.0
yapf==0.32.0
zipp==3.10.0; python_version >= '3.7'
aws-lambda-powertools[all]==2.0.0
aws-xray-sdk==2.10.0
fastjsonschema==2.16.2
pydantic==1.10.2
wrapt==1.14.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
