site_name: AWS Lambda Handler CookBook
site_description: AWS Lambda Handler CookBook
site_author: Ran Isenberg
repo_url: https://github.com/ran-isenberg/aws-lambda-handler-cookbook
edit_uri: edit/main/docs

nav:
  - Homepage: index.md
  - Getting Started: getting_started.md
  - CDK: cdk.md
  - Pipeline: pipeline.md
  - Swagger: swagger/swagger.md
  - Best Practices:
      - best_practices/logger.md
      - best_practices/tracer.md
      - best_practices/metrics.md
      - best_practices/environment_variables.md
      - Architecture Layers: https://www.ranthebuilder.cloud/post/learn-how-to-write-aws-lambda-functions-with-architecture-layers" target="_blank"
      - best_practices/input_validation.md
      - best_practices/dynamic_configuration.md
      - best_practices/monitoring.md
      - Idempotency: https://www.ranthebuilder.cloud/post/serverless-api-idempotency-with-aws-lambda-powertools-and-cdk" target="_blank"
      - CDK Best practices: https://www.ranthebuilder.cloud/post/aws-cdk-best-practices-from-the-trenches" target="_blank"
      - Testing Best practices: https://www.ranthebuilder.cloud/post/guide-to-serverless-lambda-testing-best-practices-part-1" target="_blank"

theme:
  name: material
  font:
    text: Ubuntu
  palette:
    - scheme: default
      primary: blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.instant
    - navigation.indexes
    - navigation.tracking
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
  logo: media/builder.png
  favicon: media/favicon.png

markdown_extensions:
  - admonition
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      linenums: true
  - pymdownx.details
  - pymdownx.snippets:
      base_path: "."
      check_paths: true
  - meta
  - toc:
      permalink: true
      toc_depth: 4
  - attr_list
  - pymdownx.emoji
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

copyright: Copyright &copy; 2024 Ran Isenberg

plugins:
  - git-revision-date
  - search
  - render_swagger
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom

extra_css:
  - stylesheets/extra.css

extra:
  analytics:
    provider: google
    property: G-VN803S5YZ3
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/ran-isenberg/aws-lambda-handler-cookbook
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/IsenbergRan
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/ranisenberg/
    - icon: fontawesome/brands/medium
      link: https://medium.com/@isenberg-ran
    - icon: fontawesome/solid/globe
      link: https://www.ranthebuilder.cloud
