[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
service-cdk = {editable = true,path = "cdk"}
pytest = "*"
pytest-mock = "*"
pycodestyle = "*"
pytest-cov = "*"
pytest-html = "*"
python-dateutil = "*"
python-dotenv = "*"
GitPython = "*"
yapf = "*"
radon = "*"
xenon = "*"
pre-commit = "*"
flake8 = "*"
isort = "*"
boto3 = "*"
mkdocs-material = "*"
mkdocs-git-revision-date-plugin = "*"

[packages]
aws-lambda-powertools = "*"
pydantic = "*"

[requires]
python_version = "3.9"
